<style>
.language-patterns-iframe-container {
  width: 90vw;
  margin-left: calc(-50vw + 50%);
  height: 90vh;
  border: none;
  position: relative;
}

.language-patterns-iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1280px) {
  .language-patterns-iframe-container {
    min-height: 150vh;
    width: 100vw;
    height: 100vh;
  }
  }
</style>

<div class="language-patterns-iframe-container" id="language-patterns-container">
  <iframe src="https://nmuffet.github.io/language-patterns/" title="Language Patterns Interactive" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="language-patterns-iframe"></iframe>
</div>
