<style>
.language-patterns-iframe-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 90vh;
  min-height: 700px;
  border: none;
  margin-bottom: 3rem;
  overflow: hidden;
}

.language-patterns-iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
</style>

<div class="language-patterns-iframe-container">
  <iframe src="https://nmuffet.github.io/language-patterns/" title="Language Patterns Interactive" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
